.h1{
    text-align: center;
}

.title{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 3px solid gray;
}

.socialsLinkGroup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 25%;
}

.teamGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    margin-inline: 250px;
}

@media screen and (min-width: 601px){
    .h1 {
        font-size: 32px;
    }
    .buttonIcon{
        transform: scale(1.5);
        margin-right: 5px;
    }    
    .teamGrid{
        margin-inline: 100px;
    }
    .title{        
        margin-inline: 33%;
    }
}

@media screen and (min-width: 1000px){
    .h1 {
        font-size: 48px;
    }
    .buttonIcon{
        transform: scale(2);
        margin-right: 10px;
    }
}

@media screen and (min-width: 1500px){
    .h1 {
        font-size: 60px;
    }
    .buttonIcon{
        transform: scale(2.5);
        margin-right: 20px;
    }
    .teamGrid{
        margin-inline: 200px;
    }
}

@media screen and (max-width: 600px){
    .h1 {
        font-size: 24px;
    }
    .buttonIcon{
        transform: scale(1);
        margin-right: 0px;
    }
    .teamGrid{
        margin-inline: 50px;
    }
    .title{        
        margin-inline: 25%;
    }
}