.logoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: transparent;
}

.logoText {
    color: var(--foreground);
}

.logo {
    display: flex;
    margin: 0px;
    position: relative;
}

.logoLink{
    position: relative;
    height: 100%;
    aspect-ratio: 1;
}

.logoImg{
    filter: invert(var(--logo-invert));
}

.navOption{
    margin-inline: 20px;
    border: transparent;
}

.navOption:hover{
    border-bottom: 3px solid white;;
}

.flareDivider{
    font-size: xx-large !important;
}

.header {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border-bottom: 3px solid gray;
}

.nav {
    display: flex;
    align-items: center;
}

.dropdown{
    position: fixed;
    right: 0px;
    top: 6rem;
    padding: 10px;
    padding-top: 0px;
    margin-inline: 20px;
    z-index: 100;
    width: calc(100% - 40px);
    background-color: var(--background);
    border: 3px solid gray;
}

.dropdownUL{
    display: grid;
    gap: 2px;
}

.dropdownItem{
    width: inherit;
    margin-top: 0.8rem;
    padding: 0.8rem;
    border: 3px solid gray;
    border-radius: 10px;
    list-style: none;
}

.dropdownItemLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 601px){
    .logoText {
        font-size: 24px;
    }
    .logo {
        width: 75px;
        height: 75px;
    }
    .navOption {
        font-size: 18px;
    }
    .standardNav{
        display: block;
    }
    .hamburgerNav{
        display: none;
    }
}

@media screen and (min-width: 1000px){
    .logoText {
        font-size: 32px;
    }
    .logo {
        width: 100px;
        height: 100px;
    }
    .navOption {
        font-size: 20px;
    }
    .standardNav{
        display: block;
    }
    .hamburgerNav{
        display: none;
    }
}

@media screen and (min-width: 1500px){
    .logoText {
        font-size: 48px;
    }
    .logo {
        width: 150px;
        height: 150px;
    }
    .navOption {
        font-size: 24px;
    }
    .standardNav{
        display: block;
    }
    .hamburgerNav{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .logoText {
        font-size: 18px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .standardNav{
        display: none;
    }
    .hamburgerNav{
        display: block;
    }
}